*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --color1: #C2FFC7;
    --color2: #9EDF9C;
    --color3: #62825D;
    --color4: #526E48;
    --creampie: #fffeaa;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  display: block;
}
body{
    height: 200dvh;
    background-color: var(--creampie);
}
header{
    height: 100dvh;
    width: 100%;
    background-image: url(baner2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerbox{
    font-size: clamp(1rem, calc(10vw+1rem), 3rem);
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    padding: 1em;
    border-radius: 1em;
}
#lenyilal{
    position: relative;
    top: 30%;
    justify-self: flex-start;
    animation: nyilodavissza 2s infinite;
    color: var(--creampie);
    transition: all;
    transition-duration: 1s;
}
@keyframes nyilodavissza{
    0% {transform: scale(2);}
    50% {transform: scale(2.5);}
    100% {transform: scale(2);}
}
@keyframes nyildoorstuck{
    0% {transform: scale(2);}
    100% {transform: scale(3); background-color: rgba(0, 0, 0, .4); border-radius: 12px;}
}
#lenyilal:hover{
    animation: nyildoorstuck .5s forwards;
    transform: scale(3);
}
a{
    text-decoration: none;
    color: var(--creampie);
}